<div
  class="card w-96 bg-slate-700 shadow-xl hover:shadow-2xl transition-shadow duration-300"
>
  <figure class="px-10 pt-10">
    <img
      src="https://picsum.photos/seed/{{ book.id }}/300/200"
      alt="{{ book.title }}"
      class="rounded-xl"
    />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title text-white">{{ book.title }}</h2>
    <p class="text-sm text-white">by {{ book.author.name }}</p>
    <p class="mt-2 text-white">{{ book.description }}</p>
    <div class="card-actions pt-2">
      <button
        class="btn inline-block bg-blue-600 text-white py-2 px-6 rounded-md border-none hover:bg-blue-700 transition duration-300"
        (click)="openModal()"
      >
        Read More
      </button>
    </div>
  </div>
</div>
